
.books__newBook {
    background-color: var(--bookPostBackground);
    width: 61rem;
    color: var(--fontColor);
    padding: 2rem 3rem 3rem 3rem;
  
    display: inline-flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-start;
  }
  
  .books__newBook  h2{
    font-size: 3.2rem;
    margin-bottom: 1rem;
    font-weight: bold;
    width: 100%;
    text-align: center;
  }
  
  .books__newBook__form {
    margin-top: 1rem;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: repeat(3,1fr);
  
    align-items: flex-end;
  }
  
  .books__newBook__form__submit {
    margin-left: 2rem;
    margin-bottom: 1rem;
    font-size: 0;
    grid-column: 2;
    grid-row: 1 / span 3;
    height: 80%;
    border: none;
  
    background:
    linear-gradient(var(--bookPostBackground),var(--bookPostBackground)),
    linear-gradient(var(--bookPostBackground),var(--bookPostBackground)),
    var(--textFields);
  background-position:center;
  background-size: 50% 1rem,1rem 25%;
  background-repeat:no-repeat;
  }  

.books__newBook__form__label {
    display: flex;
    flex-flow: column;
    width: 100%;
    margin-bottom: 1rem;
    font-size: 2.2rem;
  
  }
  
  .books__newBook__form__label input {
    width: 100%;
    margin-top: .5rem;
    font-size: 2.4rem;
    padding: .4rem .8rem;
  }
  
  .books__newBook__form__label__error {
    font-size: 1.8rem;
    margin-top: .5rem;
    color: var(--errorColor);
  }



.books__newBook.lightMode {
  background-color: var(--LightModebookPostBackground);
  color: var(--LightModefontColor);
}
.books__newBook__form__submit.lightMode {
  background:
  linear-gradient(var(--LightModebookPostBackground),var(--LightModebookPostBackground)),
  linear-gradient(var(--LightModebookPostBackground),var(--LightModebookPostBackground)),
  var(--LightModetextFields);
  background-position:center;
  background-size: 50% 1rem,1rem 25%;
  background-repeat:no-repeat;
}
.books__newBook__form__label__error.lightMode {
  color: var(--LightModeerrorColor);
}

@media screen and (max-width: 700px) {

  input {
      padding: 1rem 2rem 1rem 1rem !important;
  }

  .books__newBook  {
      padding: 2rem;
      width: 90%;
      height: auto;
  }

  .books__newBook__form {
      display: flex;
      flex-flow: column;
  }

  .books__newBook__form__submit {
  margin-top: 4rem;
  width: 100%;
  height: 8rem;
  background-size: 15% 1.5rem,1.5rem 75%;
  }

  .books__newBook__form__submit.lightMode {
      margin-top: 1rem;
      background-size: 15% 1.5rem,1.5rem 75%;
    }

}

@media screen and (max-width: 380px) { 


  .books__newBook  h2{
    padding-bottom: 2rem;
  }


  .books__newBook__form__submit {
    background-size: 20% 1.2rem,1.2rem 65%;
    }

}