
.contentWrapper.lightMode {
  background-color: var(--LightModemainBackground);
}

.books__week--title.lightMode {
  border-bottom: .3rem solid var(--LightModeborders);
  border-left: .4rem solid var(--LightModeborders);
}

.books__newBook.lightMode {
  background-color: var(--LightModebookPostBackground);
  color: var(--LightModefontColor);
  box-shadow: .2rem .2rem 5rem .5rem var(--LightModeboxShadow);
}
.books__newBook__form--submit.lightMode {
  background:
  linear-gradient(var(--LightModebookPostBackground),var(--LightModebookPostBackground)),
  linear-gradient(var(--LightModebookPostBackground),var(--LightModebookPostBackground)),
  var(--LightModetextFields);
  background-position:center;
  background-size: 50% 1rem,1rem 25%;
  background-repeat:no-repeat;
}
.books__newBook__form--label--error.lightMode {
  color: var(--LightModeerrorColor);
}

.books__week--book.lightMode {
  background-color: var(--LightModebookPostBackground);
  color: var(--LightModefontColor);
  box-shadow: .2rem .2rem 5rem .5rem var(--LightModeboxShadow);
}

.book__leftSide .book__leftSide--info.lightMode {
  background-color: rgba(0, 0, 0, 0.48);
}

.book__leftSide .book__leftSite--hover.lightMode {
  background-color: rgba(255, 255, 255, 0);
}

.book__rightSide.lightMode {
  border-left: .1rem solid var(--LightModelightBorderColor);
}

.book__rightSide--countDown.lightMode {
  border-bottom: .1rem solid var(--LightModelightBorderColor);
}

.book__rightSide__messages__message--bubble.lightMode {
  color: var(--LightModemessageColor);
  background-color: var(--LightModetextFields);
}

.book__rightSide__messages__message__votes--upvote.lightMode {
  color: var(--LightModeupvoteUnselected);
}

.book__rightSide__messages__message__votes--upvote::before.lightMode {
  color: var(--LightModeupvoteUnselected);
}

.book__rightSide__messages__message__votes--downvote::after.lightMode {
  color: var(--LightModedownvoteUnselected);
}

.book__rightSide__messages__message__votes--downvote.lightMode {
  color: var(--LightModedownvoteUnselected);
}

.selectedUpvote.lightMode {
  color: var(--LightModeupvoteSelected);
}

.selectedUpvote::before.lightMode {
  color: var(--LightModeupvoteSelected);
}

.selectedDownvote.lightMode {
  color: var(--LightModedownvoteSelected);
}

.selectedDownvote::after.lightMode {
  content: '\25BC';
  color: var(--LightModedownvoteSelected);
}

.book__rightSide__messages__message__votes.lightMode {
  color: white;
}


.book__rightSide__form--input.lightMode {
  color: var(--LightModeinputFormColor);
  background-color: var(--LightModetextFields);
}

.book__rightSide__form__counter--circlePlain.lightMode {
  stroke: white;
}

.book__rightSide__form__counter--circleColored.lightMode {
  stroke: var(--LightModefontColor);
}

.book__links.lightMode {
  border-top: .1rem solid var(--LightModelightBorderColor);
}

.book__rightSide__check.lightMode {
  background-color: var(--LightModetextFields);
  border: .1rem solid var(--LightModebookPostBackground);
}

.book__rightSide__check--check.lightMode {
  border-bottom: .5rem solid var(--LightModecloseIcon);
  border-right: .5rem solid var(--LightModecloseIcon);
}

.book__rightSide__check--cross::before, .book__rightSide__check--cross::after.lightMode {
  background-color: var(--LightModecloseIcon);
}

.book__rightSide__form--counter.lightMode {
  background-image: conic-gradient(var(--LightModefontColor) 90%, #696caa 90%);
}

.book__rightSide__form--counter.lightMode::after {
  background: var(--LightModebookPostBackground);
}

input::placeholder.lightMode {
  color: var(--LightModeplaceholder);
}

.theme__toggleButton.lightMode {
  color: white;
}

.theme__toggleButton.lightMode {
  color: var(--LightModefontColor);
  border-bottom: .1rem solid var(--LightModefontColor);;
}