:root {
    --Title: 'Comfortaa', avenir, arial, helvetica, sans-serif;
    --errorColor: red;
    --upvoteUnselected: #c4ffc4;
    --upvoteSelected: #00ff00;
    --downvoteSelected: red;
    --downvoteUnselected: #ffa6a6;

    --lightBorderColor: rgb(255, 145, 0);
    --boxShadow: rgb(255, 145, 0);
    --bookPostBackground: #333333;
    --bookPostRefresh: #4e4e4e;
    --mainBackground: rgb(34, 34, 34);
    --textFields: rgb(224, 127, 0);
    --fontColor: rgb(224, 127, 0);
    --borders: rgb(34, 34, 34);
    --inputFormColor: rgb(241, 240, 240);
    --closeIcon: rgb(241, 240, 240);
    --messageColor: rgb(241, 240, 240);
    --placeholder: rgba(228, 228, 228, 0.5);



    --LightModeupvoteUnselected: #7fc77f;
    --LightModeupvoteSelected: #02c902;
    --LightModedownvoteSelected: red;
    --LightModedownvoteUnselected: #cf8a8a;

    --LightModeBackground : white;
    --LightModemainBackground: white;
    --LightModeboxShadow: rgba(0, 0, 0, 0.568);
    --LightModebookPostBackground: #e1dde9;
    --LightModebookPostRefresh: #c8c4d1;
    --LightModeMessagesBackground: #d0cbda;


    --LightModetextFields: #9da0e9;
    --LightModelightBorderColor: #9da0e9;

    --LightModeborders: rgb(34, 34, 34);
    --LightModeinputFormColor: white;
    --LightModecloseIcon: rgb(241, 240, 240);

    --LightModemessageColor: white;
    --LightModefontColor:  black;
    

  }